* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  text-align: center;
}



[class*="col-"] {
  border: 2px solid black;
  background-color: pink;
}

[class*="col-"] h4 {

}

header [class*="col-"] {
  height: 130px;
}

main [class*="col-"], footer [class*="col-"]{
  height: 200px;
}
